<div class="container-fluid" style="width: 650px; margin: 0 auto; margin-top: 75px">
	<div ng-show="authenticating">
		<div class="well loading-well">
			<p class="text-center"><i class="fa fa-5x fa-spinner fa-spin"></i></p>
			<h5 class="text-center">Hold on... We are loading your spaces!</h5>
		</div>
	</div>
	<div ng-hide="authenticating">			
		<form name="loginForm" class="form-standard form-horizontal" name="form" novalidate>
			<h2>Cloud Foundry Management Console</h2>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="username">Username:</label>
				<div class="col-lg-10">
					<input name="userForm.email" id="username" type="text" class="form-control" placeholder="Email" ng-model="userForm.email" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="password">Password:</label>
				<div class="col-lg-10">
					<input name="userForm.password" id="password" type="password" class="form-control" placeholder="Password" ng-model="userForm.password" required>
				</div>
			</div>
			<div class="form-group form-buttons">
				<div class="col-lg-offset-2 col-lg-10">					
					<a href="#/register" class="btn btn-warning">Create an account <i class="fa fa-user"></i></a>
					<button class="btn btn-primary" ng-click="login(userForm)" ng-disabled="authenticate">Sign in <i class="fa fa-sign-in"></i></i></button>
				</div>
			</div>
		</form>
	</div>
</div>