<div class="container-fluid" style="width: 700px; margin: 0 auto; margin-top: 75px"> 
    <form name="registerForm" class="form-standard form-horizontal" novalidate>
        <h2>Create a Cloud Foundry account</h2>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="email">Email:</label>
            <div class="col-lg-10">
                <input name="registerForm.email" id="email" type="text" class="form-control" ng-model="registerForm.email" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="username">First name:</label>
            <div class="col-lg-10">
               <input name="registerForm.firstName" id="firstName" type="text" class="form-control" ng-model="registerForm.firstName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="username">Last name:</label>
            <div class="col-lg-10">
                <input name="registerForm.lastName" id="lastName" type="text" class="form-control" ng-model="registerForm.lastName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="username">Password:</label>
            <div class="col-lg-10">
                 <input name="registerForm.password" id="password" type="password" class="form-control" ng-model="registerForm.password" required>
            </div>
        </div>
        <div class="form-group form-buttons">  
            <div class="col-lg-offset-2 col-lg-10">          
                <a href="#/login" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back to login</a>
                <button class="btn btn-primary" ng-click="register(registerForm)" ng-disabled="authenticate">Register  <i class="fa fa-user"></i></button>
            </div>
        </div>
    </form>
</div>