<div class="container-fluid">
	<div ng-show="loading">
		<div class="well loading-well">			
			<h5 class="text-center"><i class="fa fa-1x fa-spinner fa-spin"></i> Hold on... We are loading your spaces!</h5>
		</div>
	</div>
	<div ng-hide="loading">
		<div class="row">			
			<div class="col-md-12">
				<form class="form-standard form-horizontal" name="form">
					<h3>Add users to {{organization.entity.name}}.</h3>
					<div class="form-group">
						<label class="col-lg-2 control-label" for="name">Name:</label>
						<div class="col-lg-4">
							<input type="text" class="form-control" ng-model="selectedUser" placeholder="Find by username" autocomplete="off" typeahead="user as user.username for user in users | filter:$viewValue">							
						</div>
					</div>	
					<div class="form-group form-buttons">
						<div class="col-lg-offset-2 col-lg-10">
							<button class="btn btn-success" ng-click="addUser(organization, selectedUser)">Add</button>
						</div>
					</div>								
				</form>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Results
					</div>
					<div class="panel-body">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th width="90%">Username</th>
									<th width="10%"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="user in users">
									<td>{{user.username}}</td>
									<td>
										<button class="btn btn-success" ng-click="addUser(organization, user)">Add</button>
									</td>
								</tr>
							</tbody>
						</table>   
					</div>
				</div>
			</div>
		</div>
	</div>
</div>