<div class="container-fluid">
	<div ng-show="loading">
		<div class="well loading-well">			
			<h5 class="text-center"><i class="fa fa-1x fa-spinner fa-spin"></i> Hold on... We are loading your spaces!</h5>
		</div>
	</div>
	<div ng-hide="loading">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="panel-title">System Domains for Organisation: {{organization.entity.name}}</span>
						<button ng-click="deleteOrganization()" type="button" class="btn btn-danger btn-sm pull-right" style="margin-top: -3px">
							Delete Organisation <span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
					<div class="panel-body">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>Domain</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="domain in organization.entity.domains">
									<td>{{domain.entity.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Organisation quota</h3>
					</div>
					<div class="panel-body">
						<dl class="dl-horizontal">
							<dt>Name</dt>
							<dd>{{organization.entity.quota_definition.entity.name}}</dd>
							<dt>Total Services</dt>
							<dd>{{organization.entity.quota_definition.entity.total_services}}</dd>
							<dt>Memory Limit</dt>
							<dd>{{organization.entity.quota_definition.entity.memory_limit}} MB</dd>
							<dt>None Basic Services</dt>
							<dd>{{organization.entity.quota_definition.entity.non_basic_services_allowed}}</dd>
							<dt>Trial DB Allowed</dt>
							<dd>{{organization.entity.quota_definition.entity.trial_db_allowed}}</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>