<div class="container-fluid">
	<div ng-show="loading">
		<div class="well loading-well">
			<h5 class="text-center"><i class="fa fa-1x fa-spinner fa-spin"></i> Hold on... We are loading your users!</h5>
		</div>
	</div>
	<div ng-hide="loading">
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="panel-title">Users and Roles</span>
					<button class="btn btn-success btn-sm pull-right" ng-click="addNewUser(organization.entity)">
						Add User to Organisation <span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
				<div class="panel-body">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th width="30%">
									<div class="dropdown">  
										<button class="btn btn-primary dropdown-toggle">
											{{selectedGroup}} <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li role="presentation" class="dropdown-header">Organisation Roles</li>
											<li>
												<a ng-click="selectOrganizationUsers(organization.entity.name)">{{organization.entity.name}}</a>
											</li>
											<li class="divider"></li>
											<li role="presentation" class="dropdown-header">Space Roles</li>
											<li ng-repeat="space in organization.entity.spaces track by $id($index)">
												<a ng-click="selectSpaceUsers(space.entity.name, organization.entity)">{{space.entity.name}}</a>
											</li>
										</ul>
									</div>
								</th>
								<th width="20%">
									<span ng-show="showOrganizationUsers">Org. Manager</span>
									<span ng-hide="showOrganizationUsers">Space Manager</span>
								</th>
								<th width="20%">
									<span ng-show="showOrganizationUsers">Billing Manager</span>
									<span ng-hide="showOrganizationUsers">Developer</span>
								</th>
								<th width="20%">
									<span ng-show="showOrganizationUsers">Org. Auditor</span>
									<span ng-hide="showOrganizationUsers">Space Auditor</span>
								</th>
								<th width="10%"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in organization.entity.users" ng-show="showOrganizationUsers">
								<td>{{user.username}}</td>
								<td><input type="checkbox" ng-checked="user.manager" ng-model="user.manager"
										   ng-disabled="blockInput" ng-click="setOrgManager(organization, user)"/></td>
								<td><input type="checkbox" ng-checked="user.billingManager"
										   ng-model="user.billingManager" ng-disabled="blockInput"
										   ng-click="setOrgBillingManager(organization, user)"/></td>
								<td><input type="checkbox" ng-checked="user.auditor" ng-model="user.auditor"
										   ng-disabled="blockInput"
										   ng-click="setOrgAuditor(organization, user)"/></td>
								<td>
									<button class="btn btn-danger" ng-click="openConfirmation(user)"
											ng-hide="blockInput || loggedInUser.id === user.id"><span
											class="glyphicon glyphicon-trash"></span></button>
								</td>
							</tr>
							<tr ng-repeat="user in selectedSpace.users" ng-hide="showOrganizationUsers">
								<td>{{user.username}}</td>
								<td>
									<input type="checkbox" ng-checked="user.manager" ng-model="user.manager"
										   ng-disabled="blockInput"
										   ng-click="setSpaceManager(selectedSpace, user)"/>
								</td>
								<td>
									<input type="checkbox" ng-checked="user.developer" ng-model="user.developer"
										   ng-disabled="blockInput"
										   ng-click="setSpaceDeveloper(selectedSpace, user)"/>
								</td>
								<td>
									<input type="checkbox" ng-checked="user.auditor" ng-model="user.auditor"
										   ng-disabled="blockInput"
										   ng-click="setSpaceAuditor(selectedSpace, user)"/>
								</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div ng-hide="loading" class="col-md-3">
			<div class="well well-small">
				<h5>ORGANIZATION ROLES</h5>
				<h5>Organization Manager</h5>
				<p>Can invite/manage users, select/change the plan, establish spending limits</p>
				<h5>Billing Manager</h5>
				<p>Can edit/change the billing account info, payment info</p>
				<h5>Organization Auditor</h5>
				<p>View only access to all org and space info, settings, reports</p>
				<hr/>
				<h5>APP SPACE ROLES</h5>
				<h5>Space Manager</h5>
				<p>Can invite/manage users, enable features for a given space</p>
				<h5>Space Developer</h5>
				<p>Can create, delete, manage applications and services, full access to all usage reports and logs</p>
				<h5>Space Auditor</h5>
				<p>View only access to all space information, settings, reports, logs</p>
			</div>
		</div>
	</div>
</div>