html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 60px;
}

#logo {
    font: 150px 'Italiana', sans-serif;
    text-transform: lowercase;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer-text {
    text-align: right;
    margin: 20px 0;
    color: #00a1de;
}