<div class="container-fluid">
	<div ng-show="loading">
		<div class="well loading-well">
			<h5 class="text-center"><i class="fa fa-1x fa-spinner fa-spin"></i> Hold on... We are loading your spaces!</h5>
		</div>
	</div>
	<div ng-hide="loading">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{application.entity.name}}</h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>HEALTH</th>
							<th>INSTANCES</th>
							<th>MEMORY</th>
							<th>DISK QUOTA</th>
							<th>BUILDPACK</th>
							<th>ENV</th>
							<th>URLS</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><span class="label label-success" ng-show="application.entity.state == 'STARTED'">{{application.entity.health}}%</span>
								<span class="label label-danger" ng-hide="application.entity.state == 'STARTED'">{{application.entity.health}}%</span></td>
							<td>{{application.entity.instances}}</td>
							<td>{{application.entity.memory}} MB</td>
							<td>{{application.entity.disk_quota}} MB</td>
							<td>{{application.entity.buildpack}}</td>
							<td>{{application.entity.environment}}</td>
							<td><div ng-repeat="url in application.entity.urls">
								<a href="http://{{url}}">{{url}}</a>
							</div>
							</td>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-danger pull-right" ng-click="deleteApplication()">Delete App <i class="fa fa-trash-o"></i></button>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">BOUND SERVICES <span class="badge">{{application.entity.serviceInstances.length}}</span></h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>NAME</th>
							<th>SERVICE</th>
							<th>PLAN LEVEL</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="service in application.entity.serviceInstances">
							<td>{{service.name}}</td>
							<td>{{service.servicePlan.service.provider}} {{service.servicePlan.service.name}} {{service.servicePlan.service.version}}</td>
							<td><a href="#" tooltip="{{service.servicePlan.description}}">{{service.servicePlan.name}}</a>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">INSTANCES <span class="badge">{{application.entity.instances}}</span></h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>INSTANCE</th>
							<th>STATE</th>
							<th>IP</th>
							<th>RUNNING SINCE</th>
							<th>PORT</th>
							<th>LOGS</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="instance in instances">
							<td>{{$index}}</td>
							<td>{{instance.entity.state}}</td>
							<td>{{instance.entity.console_ip}}</td>
							<td>{{instance.entity.since | date : 'dd.MM.yyyy'}}</td>
							<td>{{instance.entity.console_port}}</td>
							<td>
								<div>
									<a href="#/app-log/{{organizationId}}/applications/{{application.entity.id}}/instances/{{$index}}/stdout">stdout.log</a>
								</div>
								<div>
									<a href="#/app-log/{{organizationId}}/applications/{{application.entity.id}}/instances/{{$index}}/stderr">stderr.log</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>