<div class="container-fluid">
	<div ng-show="loading">
		<div class="well loading-well">			
			<h5 class="text-center"><i class="fa fa-1x fa-spinner fa-spin"></i> Hold on... We are loading all services!</h5>
		</div>
	</div>
	<div ng-hide="loading">
		<div ng-hide="loading" class="col-md-3">
			<div class="well well-small">
				<h5>SERVICES</h5>				
				<p>View only access to all org and space info, settings, reports</p>
				<hr/>
				<h5>PLANS</h5>						
				<p>View only access to all space information, settings, reports, logs</p>
			</div>
		</div>
		<div class="col-md-9">
			<h2>Services Marketplace</h2>
			<div class="panel panel-default">
				<div class="panel-heading">
					Currently available services
				</div>
				<div class="panel-body">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th width="25%">
									Name
								</th>
								<th width="35%">
									Description
								</th>
								<th width="40%">
									Plans
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="service in services">
								<td><a href="" ng-click="showDetails(service)">{{service.entity.label}}</a></td>
								<td>{{service.entity.description}}</td>
								<td>
									<ul>
										<li ng-repeat="plan in service.entity.service_plans">
											{{plan.entity.name}}
										</li>
									</ul>
								</td>	
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>		
	</div>
	<div ng-show="service">
		<div ng-hide="loading" class="col-md-3">
		</div>
		<div class="col-md-9">
			<h3>Plans for Service: {{service.entity.name}}</h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					&nbsp;
				</div>
				<div class="panel-body">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th width="35%">
									Name
								</th>
								<th width="65%">
									Description
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="plan in service.entity.service_plans">
								<td>{{plan.entity.name}}</td>
								<td>{{plan.entity.description}}</td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>