<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<button class="navbar-toggle" type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">CloudFoundry</a>
		<div class="navbar-collapse collapse" ng-class="!navCollapsed && 'in'">
			<ul class="nav navbar-nav" ng-show="isAuthenticated">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Organisation: {{organization.name}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li ng-repeat="organization in organizations" ng-hide="organization.selected">
							<a href="#/app-spaces/{{organization.id}}">{{organization.name}}</a>
						</li>
						<li><a href="#/create-org/{{organization.id}}">Create new Organization</a></li>
					</ul>
				</li>
				<li><a href="#/app-spaces/{{organization.id}}">App Spaces</a></li>
				<li><a href="#/users/{{organization.id}}">Users</a></li>
				<li><a href="#/org-settings/{{organization.id}}">Organisation Settings</a></li>
				<li><a href="#/marketplace/{{organization.id}}">Marketplace</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-show="isAuthenticated">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#/userinfo/{{organization.id}}">User info</a></li>
						<li><a href="#" ng-click="logout()">Logout</a></li>					
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>